/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

// Font for whole app
$font-family: 'Roboto', sans-serif;

// Colors
$primary-color: #4CAF50;
$secondary-color: #008CBA;
$bg-color: #f5f5f5;


// reset
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  background-color: $bg-color;
}

body {
  margin: 20px;
}
